@media(max-width: 1199px){
    #slider-banner.owl-carousel .owl-nav .owl-prev{
        left: -90px;
        top: 400px;
    }
    #slider-banner.owl-carousel .owl-nav .owl-next {
        right: -90px;
        top: 400px;
    }

}
@media(max-width: 991px) {
    .header{
        padding-top: 40px;
    }
    #slider-banner{
        padding-top: 315px;
    }
    #slider-banner .item h2{
        font-size: 90px;
    }
    #slider-banner .item .text-slider{
        font-size: 210px;
    }
    #slider-banner.owl-carousel .owl-nav .owl-prev{
        left: -45px;
        top: 400px;
    }
    #slider-banner.owl-carousel .owl-nav .owl-next {
        right: -45px;
        top: 400px;
    }
}
@media(max-width: 767px){
    .nav-menu ul li{
        margin-right: 22px;
    }
    .header{
        padding-top: 35px;
    }
    #slider-banner .item h2{
        font-size: 56px;
    }
    #slider-banner .item .text-slider {
        font-size: 140px;
        margin-top: -30px;
    }
    .form-search{
       top: -32px;
    }
    .nav-menu ul li.active a,
    .nav-menu ul li a:hover {
        padding-bottom: 15px;
    }
    .nav-menu{
        top: 47px;
    }
    .logo{
        display: block;
    }
    .logo img{
        display: block;
        margin: 0 auto;
    }
}
@media(max-width: 575px) {
    .nav-menu .navbar-brand,
    .nav-menu .navbar-toggler{
        display: inherit;
    }
    .border-header{
        border: inherit;
    }
    .form-search{
        top: -60px;
    }
    #slider-banner .item h2{
        font-size: 50px;
    }
    #slider-banner .item .text-slider {
        font-size: 120px;
        margin-top: -30px;
    }
    .nav-menu .navbar-toggler, .nav-menu .navbar-brand{
        display: block;
    }
    .nav-menu{
        margin: 15px 0;
        background: #929498;
        padding: 8px;
        top: 2px;
    }
    .form-search{
        top: 5px;
    }
    .nav-menu .responsive-menu{
        display: flex;
        justify-content: space-between;
    }
    .nav-menu .navbar-expand-sm .navbar-brand{
        color: #000;
    }
    .nav-menu .navbar-expand-sm .navbar-toggler{
        outline: none;
    }
    .nav-menu .navbar-expand-sm .navbar-toggler i{
        transition: .3s;
    }
    .nav-menu .navbar-expand-sm .navbar-toggler i:hover{
        color: #ffeb3b;
    }
    #slider-banner.owl-carousel .owl-nav .owl-prev{
        display: none;
    }
    #slider-banner.owl-carousel .owl-nav .owl-next {
        display: none;
    }
}