*{
    background: url("../img/fon.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.div_1{
    width: 50%;
}
.div_1 h2{
    color: cornsilk;
    text-align: center;
    text-transform: uppercase;
}
.div_1 p{
    color: cornsilk;
    text-transform: lowercase;
    text-indent: 20px;
}
.div_2{
    background: transparent;
    width: 50%;
    margin-top: 50px;
}
.div_2 h2{
    color: cornsilk;
    text-align: center;
    text-transform: capitalize;
}
input{
    width: 100%;
    color: white;
}
textarea{
    color: white;
    width: 100%;
}
