*{
    background: url("../img/osen.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    color: green;
    text-decoration: underline;
    text-align: center;
}
.box{
    margin: 0px auto;
    background:url("../img/css.jpg"), url("../img/images (1).jpg");
    background-position: left , right;
    background-size: 10%, 10%;
    background-repeat: no-repeat;
}
p{
    width: 200px;
    text-align: justify;
    color: yellow;
}
.link{
    font-size: 20px;
    color: darkgray;
}
.link:hover{
    color: red;
}
.link:focus{
    border: solid 1px white;
}